<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @agency.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agency.address %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
