<p id="notice"><%= notice %></p>

<h1>Transactions</h1>
<div class="row">
  <div class="col-md-3"><%= link_to 'Deposit', new_transaction_path(transaction_type: :deposit) %></div>
  <div class="col-md-3"><%= link_to 'Withdraw', new_transaction_path(transaction_type: :withdraw) %></div>
  <div class="col-md-3"><%= link_to 'Reversal', new_transaction_path(transaction_type: :reversal) %></div>
  <div class="col-md-3"><%= link_to 'Transfer', new_transaction_path(transaction_type: :transfer) %></div>
</div>

</table>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Transaction type</th>
      <th scope="col">Account</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.account_id %></td>
        <td><%= transaction.user_id %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction_path(transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
