<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.number_field :limit %>
  </div>

  <div class="field">
    <%= form.label :agency_id %>
    <%= form.select :agency_id, options_for_select(Agency.all.map{|agency| [agency.agency_format, agency.id]}, account.agency_id)%>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= current_user.email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
