<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @account.limit %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @account.agency_id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
